* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.user-container {
  margin-top: 10px;
  width: 70%;
}

.user-container h3 {
  border: 2px solid coral;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin-left: 5px;
  margin-top: 30px;
}
